@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
	background: linear-gradient(120deg,#2980b9, #8e44ad);
	height: 100vh;
	/* overflow: hidden; */
}

/*End Top Nav*/
.container {
	width:80%;
	margin:0 auto;
}
.contact p {
	color: #000000;
	word-spacing: 2px;
	line-height: 25px;
	font-family: 'Trebuchet MS';
	margin-bottom: 20px;
	text-align: center;
}
section h3 {
	text-align: center;
	padding:40px 0;
	margin-bottom: 25px;
	font-family: 'Audiowide' ;
	color:#000000;
}
