/*Header*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
section{
    padding: 50px 100px;
}

/*End Header*/


#paymeth{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: aqua;
}

/*Footer*/

/*End Footer*/
