/*Header*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/*End Header*/

/*Location section*/

#locationsect{
margin: 10%;
}
#datetime{
    margin-top: 20px;
    margin-bottom: 20px;
}

.gmap_canvas{
    margin-top: 20px;
     overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}
/*Footer*/
.footer {
    display: block;
    background-color: #59bfff;
    margin: 0px, auto;
    position: relative;
    bottom: 0;
    padding-top: 5px;
    border-top: 2px solid #000;
    align-items: center;
}
.logof{
    width: 23%;
    position: static;
    display: inline-block;
}
.logof img{
    width: 100%;
    align-items: center;
    text-align: center;
    margin-left: -30px;
}
.menuf{
    font-size: 18px;
    width: 25%;
    position: relative;
    display: inline-block;
    text-decoration: black;
}
.ovo img{
    width: 60px;
    padding-right: 3px;
}
.gopay img{
    width: 60px;
    padding-right: 3px;
}
.dana img{
    width: 60px;
}

.Hour{
    text-align: center;
    width: 25%;
    position: relative;
    display: inline-block;
}

.SosMed{
    width: 25%;
    position: relative;
    display: inline-block;
    text-decoration: black;
}

.Fb img{
    width: 60px;
}
.ig img{
    width: 60px;
}
.tiktok img{
    width: 60px;
}
.logos{
    padding-right: 5px;
}

.copyrights{
    text-align: center;
}
/*End Footer*/
